---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Alma">
  <div class="relative hero z-10">
    <div
      class="mx-auto min-h-screen max-w-screen-2xl px-6 py-12 font-sans md:px-12 md:py-20 lg:px-24 lg:py-0"
    >
      <div class="lg:flex lg:justify-between lg:gap-4">
        <header
          class="lg:sticky lg:top-0 lg:flex lg:max-h-screen lg:w-1/2 lg:flex-col lg:justify-between lg:py-24"
        >
          <div
            class="flex lg:items-start gap-4 flex-col lg:flex-row items-center text-center lg:text-left"
          >
            <img src="../logos/ac-icon.png" alt="Alma" class="w-16 h-16" />
            <div>
              <a
                href="/"
                class="text-4xl lg:text-5xl block font-bold tracking-tight bg-clip-text text-transparent bg-gradient-to-b from-neutral-50 to-neutral-400 bg-opacity-50"
              >
                <h1>Alma Caribe, LLC</h1>
              </a>
              <h2 class="mt-2 text-sm lg:text-lg font-medium text-neutral-400">
                Up-and-Coming Private Family Office Investment Firm  
              </h2>
              

              <a
                data-ccursor
                href="mailto:info@almacaribe.co"
                class="inline-flex transition-all border-neutral-700 hover:border-opacity-0 border-opacity-50 shadow rounded-md border backdrop-blur-xl bg-neutral-400/10 px-3 py-2.5 items-center text-white font-semibold group p-2 text-sm gap-x-2 mt-4"
              >
                <span>Email us</span>
                <sapn
                  class="w-2 h-2 rounded-full bg-purple-800 duration-1000 animate-pulse"
                >
                </sapn>
              </a>
            </div>
          </div>

        </header>

        <main id="content" class="pt-24 lg:w-1/2 lg:py-24">
          <section
            id="about"
            class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
            aria-label="About me"
          >
            <div
              class="sticky top-0 z-20 -mx-6 mb-4 w-screen px-6 py-3 backdrop-blur-lg md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0"
            >
              <h2
                class="text-sm font-bold uppercase tracking-widest text-neutral-200 lg:sr-only"
              >
                About
              </h2>
            </div>
            <div>
              <div class="mb-4 space-y-4">
                <p>
                  Alma Caribe is a private investment firm trading in global financial markets,
      dedicated to producing considerable long-term returns for its members by adhering to mathematical and risk-neutral methods.
                </p>
              </div>
            </div>
          </section>
          
          <footer class="max-w-md pb-16 text-sm text-neutral-500 sm:pb-0">
            <p>
              See our  
              <a
                href="privacyPolicy.html"
                class="font-medium text-neutral-400 hover:text-red-300 focus-visible:text-red-300 hover:underline"
                target="_blank"
                rel="noreferrer">Privacy Policy</a
              >
              and
              <a
                href="https://www.ncmutts.com"
                class="font-medium text-neutral-400 hover:text-red-300 focus-visible:text-red-300 hover:underline"
                target="_blank"
                rel="noreferrer">Sponsors</a
              >
            </p>
          </footer>
        </main>
      </div>
    </div>
  </div>

  <footer class="text-center py-4 text-xs">
    {new Date().getFullYear()} All rights reserved.
  </footer>
</Layout>

<style scoped>
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .hero {
    background-image: url(/pattern.svg);
    background-position: top center;
    background-repeat: no-repeat;
    overflow-y: visible;
    overflow-x: clip;
  }

  /*
  .hero {
    animation: fadeIn 3s;
  }
   */
</style>
