/* CSS */
@keyframes colored
{
    0% {color: #FFF;}
    50% {color: #0F0;}
    100% {color: #000;}
}

@-moz-keyframes colored
{
    0% {color: #FFF;}
    50% {color: #0F0;}
    100% {color: #000;}
}

@-o-keyframes colored
{
    0% {color: #FFF;}
    50% {color: #0F0;}
    100% {color: #000;}
}

@-webkit-keyframes colored
{
    0% {color: #FFF;}
    50% {color: #0F0;}
    100% {color: #000;}
}

.animated {

}

body {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: #000;
    color: #FFF;
    font-size: 1em;
    font-family: Consolas, monospace;
    overflow: visible;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: auto;
}

#bio {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.column {
    position: absolute;
    width: 10px;
    height: 100%;
    overflow: visible;
    color: #000;
    z-index: 1;
    cursor: pointer;
}

.cell {
    width: 10px;
    height: 18px;
}

.animated > .cell {
	animation-name: colored;
    animation-duration: 1s;
    animation-timing-function: linear;

    -moz-animation-name: colored;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;

    -o-animation-name: colored;
    -o-animation-duration: 1s;
    -o-animation-timing-function: linear;

    -webkit-animation-name: colored;
    -webkit-animation-duration: 0.7s;
    -webkit-animation-timing-function: linear;
}

.message {
	position: absolute;
	z-index: 2;
  color: #000;
  cursor: pointer;
}

.message:hover {
  color: #0F0;
}

.shown {
	color: #FFF;
    background-color: #000;
}
